<h1>神社</h1>
<%= render @shrines %>

  
    <h1 class="slider_ttl">神社一覧</h1>
      <ul class="horizontal_scroll rank">
        <li>
          <a href="" class="shrine_photo"><img src=""></a>
          <div class="shrine_name">
            <span><%= @shrine_name %></span>
          </div>
        </li>
        <li>
          <a href="" class="shrine_photo"><img src=""></a>
          <div class="shrine_name">
            <span><%= @shrine_name %></span>
          </div>
        </li>
        <li>
          <a href="" class="shrine_photo"><img src=""></a>
          <div class="shrine_name">
            <span>神社名</span>
          </div>
        </li>
        <li>
          <a href="" class="shrine_photo"><img src=""></a>
          <div class="shrine_name">
            <span>神社名</span>
          </div>
        </li>
        <li>
          <a href="" class="shrine_photo"><img src=""></a>
          <div class="shrine_name">
            <span>神社名</span>
          </div>
        </li>
        <li>
          <a href="" class="shrine_photo"><img src=""></a>
          <div class="shrine_name">
            <span>神社名</span>
          </div>
        </li>
        <li>
          <a href="" class="shrine_photo"><img src=""></a>
          <div class="shrine_name">
            <span>神社名</span>
          </div>
        </li>
        <li>
          <a href="" class="shrine_photo"><img src=""></a>
          <div class="shrine_name">
            <span>神社名</span>
          </div>
        </li>
        <li>
          <a href="" class="shrine_photo"><img src=""></a>
          <div class="shrine_name">
            <span>神社名</span>
          </div>
        </li>
        <li>
          <a href="" class="shrine_photo"><img src=""></a>
          <div class="shrine_name">
            <span>神社名</span>
          </div>
        </li>
        <li>
          <a href="" class="shrine_photo"><img src=""></a>
          <div class="shrine_name">
            <span>神社名</span>
          </div>
        </li>
        <li>
          <a href="" class="shrine_photo"><img src=""></a>
          <div class="shrine_name">
            <span>神社名</span>
          </div>
        </li>        
        
      </ul>
      

<%= link_to '新規登録', new_shrine_path %>
