<div class="shrine_index">
<h1>神社</h1>
<div class="shrine_item">
  <div class="item-photo">
    <h3>出雲大社</h3>
  	<div class="item-mainImg">
  	    <img src="//cdn.jalan.jp/jalan/img/9/kuchikomi/0719/KM/8b1ce_0000719496_1.jpg" alt="まなさんの伊勢神宮内宮（皇大神宮）の投稿写真1" width="228" height="171">
  	</div>
  		<ul class="item-thumbs">
    		<li><img src="//cdn.jalan.jp/jalan/img/2/kuchikomi/0402/KXS/52172_0000402651_2.jpg" alt="やまもさんの伊勢神宮内宮（皇大神宮）の投稿写真2" width="74" height="56"></li>
    		<li><img src="//cdn.jalan.jp/jalan/img/8/kuchikomi/4618/KXS/da197_0004618176_1.jpg" alt="マヤバーさんの伊勢神宮内宮（皇大神宮）の投稿写真1" width="74" height="56"></li>
    		<li><img src="//cdn.jalan.jp/jalan/img/8/kuchikomi/2998/KXS/8a9a3_0002998801_1.jpg" alt="クープさんの伊勢神宮内宮（皇大神宮）の投稿写真1" width="74" height="56"></li>
  		</ul>
  </div>
  <div class="shrine_infomation">
    <p></p>
    <p></p>    
    <p></p>
    <p></p>
    <p></p>
    <p></p>    
  </div>
</div>

<div class="shrine_slider_ttl">  
  <h1 class="slider_ttl">神社一覧</h1>
  <ul class="horizontal_scroll rank">
    <li>
      <a href="" class="shrine_photo"><img src=""></a>
      <div class="shrine_name">
        <span><%= @shrine[0]['name'] %></span>
      </div>
    </li>
    <li>
      <a href="" class="shrine_photo"><img src=""></a>
      <div class="shrine_name">
        <span><%= @shrine[1]['name'] %></span>
      </div>
    </li>
    <li>
      <a href="" class="shrine_photo"><img src=""></a>
      <div class="shrine_name">
        <span><%= @shrine[2]['name'] %></span>
      </div>
    </li>
    <li>
      <a href="" class="shrine_photo"><img src=""></a>
      <div class="shrine_name">
        <span>神社名</span>
      </div>
    </li>
    <li>
      <a href="" class="shrine_photo"><img src=""></a>
      <div class="shrine_name">
        <span>神社名</span>
      </div>
    </li>
    <li>
      <a href="" class="shrine_photo"><img src=""></a>
      <div class="shrine_name">
        <span>神社名</span>
      </div>
    </li>
    <li>
      <a href="" class="shrine_photo"><img src=""></a>
      <div class="shrine_name">
        <span>神社名</span>
      </div>
    </li>
    <li>
      <a href="" class="shrine_photo"><img src=""></a>
      <div class="shrine_name">
        <span>神社名</span>
      </div>
    </li>
    <li>
      <a href="" class="shrine_photo"><img src=""></a>
      <div class="shrine_name">
        <span>神社名</span>
      </div>
    </li>
    <li>
      <a href="" class="shrine_photo"><img src=""></a>
      <div class="shrine_name">
        <span>神社名</span>
      </div>
    </li>
    <li>
      <a href="" class="shrine_photo"><img src=""></a>
      <div class="shrine_name">
        <span>神社名</span>
      </div>
    </li>
    <li>
      <a href="" class="shrine_photo"><img src=""></a>
      <div class="shrine_name">
        <span>神社名</span>
      </div>
    </li>        
  </ul>
</div>

<%= link_to '新規登録', new_shrine_path %>
</div>