    <div class="top-wrapper">
      <div class="container">
        <h1>参拝旅のすすめ</h1>
        <h2>～日本中の<span class="shrine_color">神社</span><span class="temple_color">仏閣</span>を旅しよう～</h2>
        <p>このサイトはこれまで参拝した神社やお寺を紹介しあうサイトです。</p>
        <p>近所の神社から旅行で旅したお寺まで日本中にある様々な神社仏閣をみんなに紹介しませんか？</p>
        <div class="btn-wrapper">
          <a href="#" class="btn signup">新規登録</a>
          <p>or</p>
          <a href="#" class="btn login">ログイン</a>
        </div>
      </div>
    </div>
    <div class="selects">
        <div class="select">
            <div class="select-shrine">
              <%= image_tag '/assets/hodosanzinzya.jpg' %>
                <p>神社</p>
        </div>
        <p class="txt-contents">Webページの作成に使用される言語です。HTMLとCSSを組み合わせることで、静的なページを作り上げることができます。</p>
      </div>
      <div class="select">
        <div class="select-temple">
          <%= image_tag '/assets/heizyokyuu.jpg' %>
          <p>寺院</p>
        </div>
        <p class="txt-contents">素敵な動きを手軽に実装できるJavaScriptライブラリです。 アニメーション効果をつけたり、Ajax（エイジャックス）を使って外部ファイルを読み込んだりと色々なことができます。</p>
      </div>
      <!--<div class="select">-->
      <!--  <div class="select-icon">-->
      <!--    <img src="https://prog-8.com/images/html/advanced/ruby.png">-->
      <!--    <p>Ruby</p>-->
      <!--  </div>-->
      <!--  <p class="txt-contents">オープンソースの動的なプログラミング言語で、 シンプルさと高い生産性を備えています。大きなWebアプリケーションから小さな日用ツールまで、さまざまなソフトウェアを作ることができます。</p>-->
      <!--</div>-->
      <!--<div class="select">-->
      <!--  <div class="select-icon">-->
      <!--    <img src="https://prog-8.com/images/html/advanced/php.png">-->
      <!--    <p>PHP</p>-->
      <!--  </div>-->
      <!--  <p class="txt-contents">HTMLだけではページの内容を変えることはできません。PHPはHTMLにプログラムを埋め込み、それを可能にします。</p>-->
      <!--</div>-->
    </div>
    <div class="message-wrapper">
    </div>