<h1>Editing Shrines Word Of Mouth</h1>

<%= render 'form', shrines_word_of_mouth: @shrines_word_of_mouth %>

<%= link_to 'Show', @shrines_word_of_mouth %> |
<%= link_to 'Back', shrines_word_of_mouths_path %>
