<h1>Editing Shrine Word Of Mouth</h1>

<%= render 'form', shrine_word_of_mouth: @shrine_word_of_mouth %>

<%= link_to 'Show', @shrine_word_of_mouth %> |
<%= link_to 'Back', shrine_word_of_mouths_path %>
